<div
  class="p-[7%] flex flex-col justify-center items-center bg-cover bg-no-repeat h-[100%] background"
>
  <div class="w-[100%] absolute h-max p-[10%]">
    <h3 class="font-semikanit py-1 text-[30px] sm:text-[45px] text-whitenormal">
      Expert Tender Writing Services For
    </h3>
    <p class="bg-[#004558] p-3 font-regular text-whitenormal rounded-md">
      We provide tailored tender solutions for healthcare providers across the
      UK, helping you secure NHS contracts, local authority bids, and private
      sector opportunities. Our expert tender writing services ensure every bid
      meets the standards of regulatory bodies like the CQC, CIW, and RQIA,
      supporting your business growth and success.
    </p>
    <h3
      class="font-semikanit py-1 text-[30px] sm:text-[45px] text-right text-whitenormal flex justify-end"
    >
      Health & Social Care Providers
    </h3>
  </div>
</div>
