nav {
    background-color: #FFFF;
    // padding: 10px;
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .menu-item {
    position: relative;
    margin: 0 5px;
  
  }

  
  .menu-item a {
    color: var(--toolbar-primary);
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 16px;
    font-family: "LKanit";
 
  }
  
  /* Dropdown Styling */
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .menu-item:hover .dropdown-content {
    display: block;
  }

  .arrow-icon {
    margin-left: 8px;
    transition: transform 0.3s ease;
  }
  
  /* When hovering the dropdown, rotate the arrow upwards */
  .dropdown:hover .arrow-icon {
    transform: rotate(-180deg); /* Rotate the arrow up */
  }