 //optimized work starts

 .rounded-corner-div {
   background-color: white;
   color: black;
   display: flex;
   padding: 10px 20px;
   font-family: regular;
   justify-content: space-between;
   border-radius: 2rem;

   width: 250px;

   img {
     height: 30px;
   }
 }

 .image-container {
   width: 100%;
   height: 500px;
   border-bottom-right-radius: 2rem;
   border-bottom-left-radius: 2rem;
   position: relative;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;

   figure {
     padding: 3rem;
     width: 70%;

     h2 {
       font-family: regular;
       color: #aeffef;
       font-size: 1.4rem;
     }

     h6 {
       font-family: bold;
       color: white;
       font-size: 2rem;
     }
   }
 }

 .image-container .card {
   position: absolute;
   width: 85%;
   max-width: 1200px;
   height: 300px;
   left: 50%;
   transform: translateX(-50%);
   bottom: -35%;
   background-color: #0e4c5c;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   z-index: 10;


   .custom-heading {
     font-family: bold;
     font-size: 2rem;
     color: #aeffef;
     font-weight: bold;
     text-align: left;
   }

   .custom-paragraph {
     color: #ffffff;
     margin-top: 2rem;
     font-family: regular;
   }

   div:nth-child(2) {
     img {
       height: 450px;
       position: absolute;
       bottom: 0;
     }
   }
 }




 @media (max-width: 1024px) {
   .image-container {
     margin-top: 2rem;

     figure {
       padding: 1rem;
       width: 100%;

       h2 {
         font-size: 1.4rem;
       }

       h6 {
         font-size: 1.6rem;
       }
     }


     .card {
       height: max-content;
       width: 85%;
       max-width: 1200px;
       height: 300px;
       left: 8%;
       bottom: -35%;
       background-color: #0e4c5c;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       border-radius: 20px;
       transform: none;

     }
   }

 }


 @media (max-width: 910px) {

   .overall-home-container {
     height: 950px !important;
   }

   .image-container {
     margin-top: 2rem;

     figure {
       padding-top: 3rem;
       width: 100%;
       min-height: 400px;

       h2 {
         font-size: 1.2rem;
       }

       h6 {
         font-size: 1.4rem;
       }
     }

     display: flex;
     flex-direction: column;

     .card {
       height: max-content;
       position: static;
       width: 95%;
       left: auto;
       bottom: auto;
       background-color: #0e4c5c;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       border-radius: 20px;
       z-index: 10;
       margin: auto;
       flex-direction: column-reverse;
       transform: none;

       div:nth-child(1) {
         width: 100%;
         padding: 4px;
         height: 230px;



         .custom-heading {
           font-size: 1.3rem;
           text-align: center;
         }

         .custom-paragraph {
           margin-top: 7px;
           font-size: .8rem;
           padding: 0px 12px;
           text-align: center;
         }
       }

       div:nth-child(2) {
         width: 100%;
         height: 250px;
         display: flex;
         justify-content: center;

         img {
           height: 250px;
         }

       }




     }
   }
 }