<!-- <div class="card"    (mouseover)="onHover(data.index)"  >
          
          
    <div>
        <p class="title">
            {{data.item.title}}
        </p>
        <p class="content">  {{data.item.content}}</p>
    </div>

    <a   class="btn-flip btn-learn" data-back="Learn More" > {{data.item.button}}</a>
</div> -->


<div class="card md:!h-[241px] sm:!h-[200px] lg:!h-[200px]"  (mouseover)="onHover(data.index)" >

    <div>
        <p class="title">
            {{data.item.title}}
        </p>
        <p class="content"> {{data.item.content}}</p>
    </div>

    <a class="btn-flip btn-learn" data-back="Learn More"> {{data.item.button}}</a>
</div>