<main>
    <section class="bg-image">
        <div class="content">
            <h1>ABOUT US</h1>
            <p>Leading The Way In Exceptional Care Services</p>
        </div>
        <div class="button-group">
            <button class="common-button" style="background-color: white;color: #37a6a4;">
                learn more &nbsp;<i class="bi bi-box-arrow-up-right"></i>
            </button>
            <button class="common-button">
                Contact us &nbsp;<i class="bi bi-chat-left"></i>
            </button>
        </div>
    </section>
    <ng-container *ngTemplateOutlet="carousel_comp"></ng-container>
    <ng-container *ngTemplateOutlet="three_card_with_image_center"></ng-container>
    <ng-container *ngTemplateOutlet="ash_clr_container"></ng-container>
    <ng-container *ngTemplateOutlet="six_card_blue_border"></ng-container>
    <ng-container *ngTemplateOutlet="two_ladies_template"></ng-container>
    <ng-container *ngTemplateOutlet="our_team"></ng-container>
    <ng-container *ngTemplateOutlet="client_aquistion"></ng-container>
    <ng-container *ngTemplateOutlet="horizontal_card_template"></ng-container>
</main>


<ng-template #carousel_comp>
    <app-infinite-carousel [carousel]="data"></app-infinite-carousel>
</ng-template>

<ng-template #three_card_with_image_center>
    <div class="three_card_with_image_center container-stretch">
        <article>
            <h2>
                Our Vision
            </h2>
            <p>
                Our company, Care Sync Experts leads the charge in delivering top notch care services. We aim to empower
                healthcare agencies to navigate the complexities of the industry successfully. Our vision is to offer
                expert support and customised solutions that enable each client to thrive in the changing healthcare
                landscape.
            </p>
        </article>
        <figure>
            <img src="../../../assets/aboutus/about-us-three-card-img.jpeg" alt="">
        </figure>
        <article>
            <h2>
                Our Mission </h2>
            <p>
                We are on a mission to assist healthcare agencies in establishing, expanding and prospering. Through our
                quality services we ensure regulatory compliance boost operational efficiency and encourage sustainable
                business practices. Our dedication lies in providing unwavering support to our clients at every stage.
            </p>
        </article>

    </div>
</ng-template>

<ng-template #ash_clr_container>
    <div class="ash_clr_container">
        <div class="container-stretch">
            <h2>
                Our Commitment
            </h2>
            <section>
                <aside class="container-1">
                    <img src="../../../assets/aboutus/about-us-aside.jpeg" alt="">
                </aside>
                <aside class="container-2">
                    <h4>
                        Come Be Part Of Our Mission to Revolutionize Health Care
                    </h4>
                </aside>
                <div class="absolute-cards">
                    <ng-container *ngTemplateOutlet="three_cards"></ng-container>
                </div>
            </section>
        </div>

    </div>
</ng-template>

<ng-template #three_cards>
    <div class="card">
        <div class="card-icon">
            <img src="../../../assets/aboutus/aboutusimg/hand.png"
                alt="Icon">
        </div>
        <h3 class="card-header">Putting Clients First</h3>
        <p class="card-content">Our focus is on meeting our clients needs by providing solutions that assist them in
            reaching their objectives and surpassing industry benchmarks. </p>
    </div>

    <div class="card">
        <div class="card-icon">
            <img  src="../../../assets/aboutus/aboutusimg/guy.png"
                alt="Icon">
        </div>
        <h3 class="card-header">Professional Advice</h3>
        <p class="card-content">Our team keeps up with the trends and regulatory updates in the industry to offer up to
            date and guidance and assistance.
        </p>
    </div>

    <div class="card">
        <div class="card-icon">
            <img  src="../../../assets/aboutus/aboutusimg/computer.png"
                alt="Icon">
        </div>
        <h3 class="card-header">Enhancements</h3>
        <p class="card-content">We are dedicated to improving our services to guarantee top notch care and business
            success. </p>
    </div>

</ng-template>


<ng-template #six_card_blue_border>
    <div class="six_card_blue_border container-stretch">
        <header>
            <h2>Our Core Values</h2>
            <button class="common-button">Contact Us</button>
        </header>
        <section>
            <ng-container *ngFor="let item of coreValues">
                <div class="card-border" [style.width]="item.width">
                    <h3>
                        {{item.title}} <span><i class="bi bi-box-arrow-up-right"></i></span>
                    </h3>
                    <p>
                        {{item.content}}
                    </p>
                </div>
            </ng-container>
        </section>
    </div>
</ng-template>


<ng-template #two_ladies_template>
    <section class="two_ladies_template container-stretch">
        <div class="content-ladies">
            <h1>At CareSync Experts;</h1>
            <p>We are dedicated to supporting your journey towards success in the healthcare field. Whether you're
                starting a venture or looking to improve your existing operations we offer the knowledge and assistance
                needed to help you thrive. Join us in reshaping healthcare standards and driving business expansion.</p>
        </div>
    </section>
</ng-template>

<ng-template #our_team>
    <div class="our_team container-stretch">
        <header>
            <h2>Our Team</h2>
            <button class="common-button">Contact Us</button>
        </header>
        <h3>
            The individuals in our <span style="color: #37a6a4;">Team are experienced experts</span> who are
            enthusiastic about the healthcare
            industry. 
        </h3>
        <p>
            At CareSync Experts, our team combines extensive expertise to support healthcare providers and entrepreneurs
            in achieving their goals. Get to know the dedicated professionals behind our success:

        </p>

        <ng-container *ngTemplateOutlet="horizontal_team_card"></ng-container>
    </div>
</ng-template>

<ng-template #horizontal_team_card>
    <div class="horizontal_team_card">
        <ng-container *ngFor="let team of team_mates">
            <div class="card-data" [style.width]="team.width">
                <div class="card-icon">
                    <img [src]="'../../../assets/aboutus/'+team.imgName" alt="Icon">
                </div>
                <h3 class="card-header-data">{{team.title}}</h3>
                <h6>{{team.positon}}</h6>
                <p class="card-content">{{team.content}} </p>
            </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #client_aquistion>
    <app-three-row-content [dataProperty]="client_aquistion_data"></app-three-row-content>
</ng-template>


<ng-template #horizontal_card_template>
    <app-horizontal-card [dataProperty]="horizontal_card"></app-horizontal-card>
</ng-template>