<div class="card-data-container  ">
    <p *ngIf="dataProperty?.heading">
       {{dataProperty?.heading}}
    </p>
    <section class="portfolio mt-[2rem]" id="portfolio">
        <div class="portfolio-container">
            <div class="portfolio-box" *ngFor="let item of dataProperty?.cardData?.container?.items">
                <img [src]="item.image.src" [alt]="item.image.alt">
                <div class="portfolio-layer">
                    <h4>{{ item.layer.title }}</h4>
                    <p>{{ item.layer.description }}</p>
                </div>
            </div>
        </div>
    </section>
    <article *ngIf="dataProperty?.content">
        {{dataProperty?.content}}
    </article>
</div>