<main
  class="w-full h-max mr-auto ml-auto py-[7%] {{
    data.isBg ? 'bg-[#FAFDF9]' : ''
  }}"
>
  <h2
    class="font-semikanit text-[26px] text-[#129693] !max-w-[1200px] mr-auto ml-auto px-[7%]"
  >
    {{ data?.masterTitle }}
  </h2>

  <div
    *ngFor="let d of data.data"
    class="!max-w-[1200px] mr-auto ml-auto flex justify-between px-[7%] py-5"
  >
    <div
      class="flex {{
        d?.left ? '' : 'flex-row-reverse'
      }} flex-wrap justify-between "
    >
      <div class="{{ basis[d.class1] }}">
        <img class="w-full" [src]="d?.img" alt="" />
      </div>

      <div class="{{ basis[d.class2] }}">
        <div>
          <h2 class="font-semikanit text-[24px]">
            {{ d?.topContents?.title }}
          </h2>
          <div [innerHTML]="d?.topContents?.content"></div>
        </div>
        <p class="text-[#129693] font-regular text-[20px]">
          {{ d?.key }}
        </p>

        <div class="flex flex-wrap justify-between">
          <p
            *ngFor="let a of d.bottomContents"
            class="font-semikanit text-[17px] lg:basis-[48%] md:basis-[48%] basis-[98%] py-2"
          >
            <i
              *ngIf="data?.check"
              class="bi bi-check2-circle text-[#129693]"
            ></i>
            {{ a?.title }}<a *ngIf="!data?.check">:</a>
            <a class="font-regular text-[#667085] text-[16px]">
              {{ a?.content }}
            </a>
          </p>
        </div>

        <div
          class="bg-primary h-[44px] w-[115px] rounded-[45px] flex justify-center items-center contact-btn"
        >
          <div class="text-whitenormal font-semikanit">Learn More</div>
        </div>
      </div>
    </div>
  </div>
</main>
