<!-- <div class="grid  gap-4 h-[1200px] grid-cols-1 sm:grid-cols-2 image-selector">
    <div class="bg-blue-500  ">
        <app-getstartedcard (hoverEvent)="selectedImages($event)"
            style="display: flex; justify-content: center; margin: 10px;" *ngFor="let a of getstartedData;let i = index"
            [data]="{'item':a,'index':i}"></app-getstartedcard>
    </div>
    <div class="bg-red-500 p-4">
        <app-tilt [selectedImage]="imagesforTilt[selectedImage]"></app-tilt>
    </div>

</div> -->



<div class="image-selector-cont">
    <div class="get-started">
        <app-getstartedcard (hoverEvent)="selectedImages($event)"
            style="display: flex; justify-content: center; margin-top: 40px;" *ngFor="let a of getstartedData;let i = index"
            [data]="{'item':a,'index':i}"></app-getstartedcard>
    </div>
    <div class="tilt-image">
        <app-tilt [selectedImage]="imagesforTilt[selectedImage]"></app-tilt>
    </div>

</div>