<div class="main-container mt-[3rem]"
    [ngStyle]="{ 'background-color': dataProperty?.section?.colors?.containerBackground }">
    <article>
        <h1 [ngStyle]="{ 'color': dataProperty?.section?.colors?.contentHeader }">
            {{ dataProperty?.section?.heading }}
        </h1>
        <p [ngStyle]="{ 'color': dataProperty?.section?.colors?.containerContent }">
            {{ dataProperty?.section?.description }}
        </p>
        <h5 [ngStyle]="{ 'color': dataProperty?.section?.colors?.containerMiniHeader }">
            {{ dataProperty?.section?.subSectionHeading }}
        </h5>
    </article>

    <main>
        <section>
            <ng-container *ngFor="let form of dataProperty?.section?.formTypes">
                <div class="card-box" [ngStyle]="{ 'background-color': dataProperty?.section?.colors?.cardBg, }">
                    <ng-container *ngTemplateOutlet="card_data; context: { $implicit: form }"></ng-container>
                </div>
            </ng-container>
        </section>
        <section>
            <div>
                <app-tilt [selectedImage]="dataProperty?.section?.image?.src"></app-tilt>
            </div>
        </section>
    </main>
</div>

<ng-template #card_data let-form>
    <h2 [ngStyle]="{ 'color': dataProperty?.section?.colors?.cardHeader }">
        {{ form?.title }}
    </h2>
    <p [ngStyle]="{ 'color': dataProperty?.section?.colors?.cardContent }">
        {{ form?.description }}
    </p>
</ng-template>