.main-container {
    padding: 4rem;

    article {

        h1 {
            font-family: bold;
            font-size: 1.7rem;
        }

        p {
            font-family: regular;
        }

        h5 {
            font-family: medium;
            font-size: 1.4rem;
        }
    }

    main {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .card-box {
                width: 45%;
                border-radius: .5rem;
                background-color: white;
                padding: 1rem;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                h2 {
                    font-family: medium;
                    font-size: 1.3rem;
                }

                p {
                    font-family: regular;
                }
            }
        }
    }
}