<main class="master-container" [ngStyle]="{'background-color': dataProperty?.bgcolor}">
    <section class="container-stretch">
        <h1 [style.color]="dataProperty?.titleclr">{{dataProperty?.mainheading}}</h1>

        <aside class="card-list">
            <ng-container *ngFor="let section of dataProperty?.sections">
                <h3 class="card-header-individual" *ngIf="section?.subtitle">
                    {{section?.subtitle}}</h3>
                <div class="gui-card" [ngStyle]="{ 'flex-basis': section?.basis }">
                    <h5>{{ section.title }}</h5>
                    <ng-container *ngFor="let point of section.content">
                        <article class="flex content-between items-center mb-[.8rem] mt-[.8rem]">
                            <i class="bi bi-check-square-fill me-[1rem] text-2xl text-[#004558]"></i>
                            <h6>{{ point }}</h6>
                        </article>
                    </ng-container>
                </div>
            </ng-container>
        </aside>
    </section>
</main>