<div class="skelton-container">
    <ng-container *ngFor="let item of  dataProperty === 'grid' ? [1,2,3,4,6,7] :[1]">
        <div class="container" [ngStyle]="{
            'flex-basis': dataProperty === 'grid' ? '31%' : '80%',
            'border-left': dataProperty !== 'grid' ? '4px solid #04717a' : 'null',
                       'margin': dataProperty === 'grid' ? '1rem 12px 1rem 0' : '1rem auto'
          }">
            <div class="row">

                <div class="column">
                    <div class="line line1 loading-animation"></div>
                    <div class="line line2 loading-animation"></div>
                </div>
            </div>
            <div class="column">
                <div class="line line3 loading-animation"></div>
                <div class="line line4 loading-animation"></div>
                <div class="line line5 loading-animation"></div>
            </div>
            <div class="column" *ngIf="dataProperty === 'grid'">
                <div class="line line3 loading-animation"></div>
                <div class="line line4 loading-animation"></div>
                <div class="line line5 loading-animation"></div>
            </div>
            <div class="row mt-[1rem]">
                <div class="column">
                    <div class="line line1 loading-animation"></div>
                    <div class="line line2 loading-animation"></div>
                </div>
            </div>
            <div class="row" style="flex-direction: column;justify-content: space-between;">
                <div class="box loading-animation mt-[1rem]"></div>
                <div class="box loading-animation mt-[1rem]"></div>
            </div>
        </div>
    </ng-container>
</div>