<div class="skelton-container">
    <ng-container *ngFor="let item of [1,2,3,4,6,7]">
        <div class="container">
            <div class="row">

                <div class="column">
                    <div class="line line1 loading-animation"></div>
                    <div class="line line2 loading-animation"></div>
                </div>
            </div>
            <div class="column">
                <div class="line line3 loading-animation"></div>
                <div class="line line4 loading-animation"></div>
                <div class="line line5 loading-animation"></div>
            </div>
            <div class="column">
                <div class="line line3 loading-animation"></div>
                <div class="line line4 loading-animation"></div>
                <div class="line line5 loading-animation"></div>
            </div>
            <div class="row mt-[1rem]">
                <div class="column">
                    <div class="line line1 loading-animation"></div>
                    <div class="line line2 loading-animation"></div>
                </div>
            </div>
            <div class="row" style="flex-direction: column;justify-content: space-between;">
                <div class="box loading-animation mt-[1rem]"></div>
                <div class="box loading-animation mt-[1rem]"></div>
            </div>
        </div>
    </ng-container>
</div>