<div class="p-[1.2rem] lg:px-[0.5rem]  md:p-[3rem] w-[90%] m-[auto]">
    <div >
    <h2 class="lg:text-[2rem] md:text-[2rem] text-[1.5rem]  text-primary font-semikanit ">
        {{dataProperty.mastertitle}}


    </h2>
    
    <p class="p-[.3rem 0] m-[0px] text-[1rem]  font-regular">
        {{dataProperty.mastercontent}}

    </p>
     

    <h3 class="text-[1.37rem] font-semikanit py-3">
       {{dataProperty.title}}


    </h3>
   
    </div>
  

    <div class="">
     
  <app-lightgreen-grid-box [dataProperty]="dataProperty"></app-lightgreen-grid-box>
    </div>

    <p class="mt-[2rem] text-primary font-regular text-[16px]">
  {{dataProperty.footer}}
    </p>
    

</div>