<main [ngStyle]="dataProperty?.bgcolor && {'background-color': dataProperty?.bgcolor}">
    <section class="gui-card-data container-stretch">
        <aside *ngIf="dataProperty?.img">
            <img [src]="dataProperty?.img" alt="Why Should You Choose Care Sync Experts?"
                title="Why Should You Choose Care Sync Experts?">
        </aside>
        <aside class="article-data">
            <ng-container *ngTemplateOutlet="article_data"></ng-container>
        </aside>
    </section>
</main>



<ng-template #article_data>
    <h2 [innerHTML]="dataProperty?.h2"></h2>
    <p *ngIf="dataProperty?.subTitle">{{dataProperty?.subTitle}}</p>
    <ng-container *ngFor="let item of dataProperty?.article">
        <article class="flex content-between items-center " *ngIf="item?.h6">
            <i class="bi bi-check-square-fill me-[1rem] text-2xl  text-[#004558]"></i>
            <h6>{{item.h6}}</h6>
        </article>
        <p class="ml-[2.6rem]" *ngIf="item?.p">{{item.p}}</p>
    </ng-container>
    <p *ngIf="dataProperty?.footer">{{dataProperty?.footer}}</p>
</ng-template>