<main>
    <section class="section-initial container-stretch">
        <aside class="left">
            <h1>
                Our eBooks
            </h1>
            <p>
                Gain expert insights with our collection of ebooks, designed to help healthcare businesses grow, stay
                compliant, and operate efficiently.
            </p>
            <div class="input-data-container">
                <div class="input-alter">
                    <input type="text">
                </div>
                <button class="common-button">send to my email</button>
            </div>
        </aside>
        <aside>
            <img src="../../../../../assets/ebooks-data/eboook-b.jpeg"
                alt="">
        </aside>
    </section>
</main>




<main class="container-stretch card-container-wrapper">
    <ng-container *ngFor="let item of brouchers.e_books.e_boooks_card">
        <div class="custom-card">
            <div class="custom-card-img-wrapper">
                <img [src]="item.image" alt="Card Image" class="custom-card-img">
            </div>
            <div class="custom-card-content">
                <h3 class="custom-card-title">{{item.title}}</h3>
                <p class="custom-card-text">{{item.description}}</p>
                <div class="custom-container-date">
                    <small>
                        <i class="bi bi-calendar-date"></i>
                        24th Feb 2024
                    </small>
                    <button class="common-button" (click)="goToDetailedView(item)">Download Book</button>
                </div>

            </div>
        </div>
    </ng-container>
</main>


<footer>
    <app-horizontal-card [dataProperty]=" brouchers.ebook_cards_horixontal.data"></app-horizontal-card>
</footer>