<main>
    <section class="section-initial container-stretch">
        <aside class="left">
            <h1>
                Our eBooks
            </h1>
            <p>
                Gain expert insights with our collection of ebooks, designed to help healthcare businesses grow, stay
                compliant, and operate efficiently.
            </p>
            <div class="input-data-container">
                <div class="input-alter">
                    <input type="text">
                </div>
                <button class="common-button">send to my email</button>
            </div>
        </aside>
        <aside>
            <img src="https://s3-alpha-sig.figma.com/img/cb9a/f2db/cf415be143e0cc1263f6117eac819c05?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=NtZFOhX0LSIwRcrFaNY-aOUa0oVgwIi9njGg9zRxUUcaiudN7fCyZnV~pYO~6zU2J9aMw0WQwEFx9tcAZUvi7Nu5Rc8aMwA1wYSKv7kyrsgMCcgLqDBfgXf8Lu74DI0UMWEfLOH6kf6~3Ud9iLT4GaRvKQzp35iz9TwTxsJRr5FZJtd2TeLOoJsr9XWqdsQrVMJVQSFzmHHlCtYzqDlF-sGiNvlw6VxvhvuM0nQM-5VTYIkf-v9d9znDsGcKE7m3e5BjGMlXdW7o1F1guN5QNDbDCz9nxDOLrL4E7mXFnr5pMtG-YSITCE87EBJKeR~PypWDPYLvzBWICeUV9cC5cg__"
                alt="">
        </aside>
    </section>
</main>




<main class="container-stretch card-container-wrapper">
    <ng-container *ngFor="let item of brouchers.e_books.e_boooks_card">
        <div class="custom-card">
            <div class="custom-card-img-wrapper">
                <img [src]="item.image" alt="Card Image" class="custom-card-img">
            </div>
            <div class="custom-card-content">
                <h3 class="custom-card-title">{{item.title}}</h3>
                <p class="custom-card-text">{{item.description}}</p>
                <div class="custom-container-date">
                    <small>
                        <i class="bi bi-calendar-date"></i>
                        24th Feb 2024
                    </small>
                    <button class="common-button" (click)="goToDetailedView(item)">Download Book</button>
                </div>

            </div>
        </div>
    </ng-container>
</main>


<footer>
    <app-horizontal-card [dataProperty]=" brouchers.ebook_cards_horixontal.data"></app-horizontal-card>
</footer>