.main-container {
    background-repeat: no-repeat;
    background-position: center center;
    // background-attachment: fixed;
    background-size: cover;
    height: 78vh;
    position: relative;

    article {
        background-color: rgba(0, 0, 0, 0.577);
        width: 52%;
        border: 1px solid white;
        border-radius: .7rem;
        padding: 10px;
        // margin: auto;
        position: absolute;
        top: 28%;
        left: 10%;

        h2 {
            font-family: bold;
            font-size: 2.4rem;
            color: white;

        }

        h6 {
            font-family: semikanit;
            font-size: 1.2rem;
            color: white;


            span {
                color: red !important;
            }

        }

        p {
            color: white;
            font-family: regular;
            margin-right: 10%;

        }
    }


    figure {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        transform: translateY(-10%);
        transform: translateX(6%);

        h2 {
            font-family: bold;
            font-size: 2.6rem;
            color: #aeffef;
        }

        h6 {
            font-family: semikanit;
            font-size: 1.4rem;
            color: white;
        }

        p {
            background-color: #4d6f749e;
            color: white;
            padding: 10px;
            font-family: regular;
            margin-right: 10%;

        }
    }

    /* Mobile (xs) */
    @media (max-width: 32rem) {
        height: 60vh;

        figure h2 {
            font-size: 2rem;
        }

        figure h6 {
            font-size: 1.2rem;
        }

        figure p {
            padding: 8px;
        }
    }

    /* Small devices (sm) */
    @media (min-width: 32rem) and (max-width: 48rem) {
        height: 65vh;

        figure h2 {
            font-size: 2.2rem;
        }

        figure h6 {
            font-size: 1.3rem;
        }
    }

    /* Medium devices (md) */
    @media (min-width: 48rem) and (max-width: 72rem) {
        height: 65vh;

        figure h2 {
            font-size: 2.4rem;
        }

        figure h6 {
            font-size: 1.4rem;
        }
    }

    /* Large devices (lg) */
    @media (min-width: 72rem) and (max-width: 96rem) {
        height: 75vh;

        figure h2 {
            font-size: 2.5rem;
        }

        figure h6 {
            font-size: 1.4rem;
        }
    }

    /* Extra large devices (xl) */
    @media (min-width: 96rem) {
        height: 71vh;

        figure h2 {
            font-size: 2.6rem;
        }

        figure h6 {
            font-size: 1.5rem;
        }
    }
}

/* Bottom Card Styling */
.bottom-card {

    margin-top: -4rem;
    width: 80%;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #129693 0px 5px 15px;
    text-align: left;
    height: max-content;

    h3 {
        font-size: 1.5rem;
        font-family: medium;
        color: #129693;
    }

    p {
        font-size: 1rem;
        font-family: regular;
        padding-top: 10px;
    }

    /* Mobile */
    @media (max-width: 32rem) {
        height: auto;
        bottom: 0%;

        h3 {
            font-size: 1.4rem;
        }

        p {
            font-size: .8rem;
            font-family: regular;
            padding-top: 10px;
        }

    }


}

.headerontop_templ {
    margin-top: 2rem;
    text-align: center;

    article {

        p,
        h6 {
            font-family: medium;
            color: rgba(0, 0, 0, 0.815);
        }

        h2 {
            font-family: bold;
            font-size: 3rem;
            color: #129693;
        }
    }

    section {
        width: 90%;
        margin: 1rem auto auto;
        height: max-content;
        padding: 2rem;
        background-color: #f9f9f9;

        div {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 500px;
            border-radius: .7rem;
        }
    }
}





@media (max-width: 1024px) {

    .main-container article.full-container {
        width: 93%;
        top: 25%;
        left: 4%;

        h2 {
            font-size: 1.6rem;
        }

        h6 {
            font-size: 1.2rem;
        }

        p {
            margin-right: 2%;
        }
    }


}


@media (max-width: 768px) {
    .headerontop_templ {

        margin-top: 2.5rem;

        article {
            h2 {
                font-size: 2.2rem;
            }
        }


        section {
            width: 95%;
          
    
            div {
             
                height: 200px;
                border-radius: .7rem;
            }
        }

    }

    .main-container {
        article.full-container {
            width: 93%;
            top: 5%;
            left: 4%;

            h2 {
                font-size: 1.6rem;
            }

            h6 {
                font-size: 1.2rem;
            }

            p {
                margin-right: 2%;
            }
        }

    }
}