<section class="container-stretch intial-container">
    <aside class="content-wrapper">
        <ng-container *ngTemplateOutlet="client_overview"></ng-container>
    </aside>
    <aside class="aside-image">
        <ng-container *ngTemplateOutlet="client_image"></ng-container>
    </aside>
</section>

<ng-template #client_overview>
    <p>Client Overview</p>
    <h3>Success Story :</h3>
    <h4>Living Plus Care Services Ltd</h4>
    <small>Living Plus Care Services Ltd specialises in providing supported living services to vulnerable adults and
        children, focusing on delivering personalised care to individuals with complex needs across various
        regions.</small>
</ng-template>

<ng-template #client_image>
    <div class="client-image-container mt-[2rem] mb-[2rem]">
        <figure class="main">
            <div class="image-one"></div>
            <div style="display: flex;justify-content: space-between;">
                <div class="image-two"></div>
                <div class="image-three"></div>
            </div>
            <div class="image-four"></div>
        </figure>
        <figure class="side">
            <div class="side-one"></div>
        </figure>
    </div>
</ng-template>

<section class="container-stretch solution-provider">
    <div class="content-wrap">
        <h3>Solution Provided</h3>
        <p>Care Sync Experts collaborated with Living Plus Care Services Ltd to assist them in bidding for seven
            critical tenders.</p>
    </div>
    <div class="content-wrap-content">
        <p>Our expert tender writing services were tailored to meet the specific requirements of each tender, ensuring
            that the bids were competitive and aligned with all necessary criteria.</p>
    </div>
    <div class="image-wrap"></div>
</section>


<section class="container-stretch card-list">
    <ng-container *ngFor="let item of tenderList.tenders">
        <div class="card-content">
            <div class="card-header">
                <h5>{{item.tender_number}}</h5>
                <p>{{item.title}}</p>
            </div>
            <div class="card-wrapper">
                <h6>
                    Result
                </h6>
                <small>
                    {{item.description}}
                </small>
            </div>
        </div>
    </ng-container>
</section>


<section class="container-stretch result-achieved">
    <figure></figure>
    <article>
        <h2>Results Achieved</h2>
        <p>Living Plus Care Services Ltd successfully secured six out of seven tenders, significantly expanding their
            service portfolio and establishing a stronger presence in the healthcare sector. These wins have enabled
            them to provide essential supported living services to a broader client base, improving the lives of
            vulnerable adults and children.</p>
    </article>
</section>



<section class="proof-success container-stretch">
    <span class="curve">Proof of Success</span>
    <h2>Award Confirmation for Living Plus Care Services Ltd.</h2>
    <p>We are proud to present the official award letters received by Living Plus Care Services Ltd for their successful
        bids. These documents serve as clear evidence of the positive outcomes our tender writing services can achieve.
    </p>
    <span>Below is the award letter confirming their success:</span>
    <div class="mt-[1rem] image-wrapper-container">
        <ng-container *ngFor="let item of proof">
            <div class="image-card" (click)="download(item.name)">
                <img [src]="'../../../../assets/success-stories/successscreenshots/'+item.name+'.png'" alt="Card Image"
                    class="image">
            </div>
        </ng-container>
    </div>
</section>


<section class="container-stretch five-star">
    <figure>
        <img src="https://caresyncexperts.com/wp-content/uploads/2024/12/cheerful-ethnic-doctor-with-arms-crossed-1.png"
            alt="">
    </figure>
    <article>
        <div>
            <ng-container *ngFor="let item of [1,2,3,4,5]">
                <i class="bi bi-star-fill me-[10px]"></i>
            </ng-container>
        </div>
        <h3>
            <span class="txt-dark-secondary">Care Sync Experts</span> have been instrumental in our success across
            multiple
            tenders.
            Their expertise in tender writing has helped us secure contracts that are crucial for our growth and ability
            to
            deliver high-quality care.
        </h3>

        <h6>
            Millicent Novuyo Ntaisi,
        </h6>
        <small>
            Director at Living Plus Care Services Ltd
        </small>
    </article>
</section>


<section>
    <div class="card-container container-stretch">
        <div class="card">
            <div class="left-side">
                <div class="content">
                    <h2>{{ data.cardContainer.card.leftSide.content.h2 }}</h2>
                    <p>{{ data?.cardContainer?.card?.leftSide?.content?.p }}</p>
                </div>
            </div>
        </div>
    </div>
</section>