<div class="p-1 sm:p-[4.5rem] w-[100%] !max-w-[1200px] mr-auto ml-auto">
  <div
    class="bg-[#129693] sm:p-7 p-4 rounded-[20px] flex flex-col sm:flex-row background"
  >
    <img
      src="../../../assets/our-services/doctor-tender.png"
      alt=""
      class="rounded-[20px] sm:bottom-[20px] h-full w-full sm:h-[207px] sm:w-[214px] z-10 sm:z-0 sm:absolute sm:rotate-[-25deg] sm:left-[-7px]"
    />
    <div class="hidden sm:block" style="height: 186px; width: 214px"></div>
    <div class="sm:pl-10 px-1 sm:w-[77%] w-[100%] z-10">
      <h3 class="font-normal font-semikanit text-[45px] text-whitenormal">
        Ready to win more contracts?
      </h3>
      <p class="font-normal font-regular text-[13px] text-whitenormal">
        Contact us today for a free consultation!
      </p>

      <div class="flex mt-[31px] justify-between">
        <div class="font-normal font-regular text-[15px] text-whitenormal">
          <p>Email: hello/&#64;caresyncexperts.co.uk</p>
          <p>Phone: 0333 577 0877</p>
        </div>

        <div>
          <div
            class="bg-[#AEFFEF] h-[44px] w-[115px] rounded-[45px] flex justify-center items-center contact-btn ml-2"
          >
            <div class="text-[#004558] font-semikanit">Contact Us</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
