<app-businesstraing-full-with-initpanel [data]="guidance.businesstraining1">
</app-businesstraing-full-with-initpanel>

<app-business-second [data]="guidance.business2"></app-business-second>
<div
  class="py-5 w-full font-regular flex pl-32 items-center text-[20px] text-[#fff] bg-primary"
>
  Our Healthcare Training Programmes
</div>
<app-image-with-grid [data]="guidance.thirdCard"></app-image-with-grid>

<app-business-fourth [data]="guidance.businessfourth"> </app-business-fourth>
<app-image-with-grid [data]="guidance.fifthCard"></app-image-with-grid>
<app-horizontal-card [dataProperty]="guidance.horizontalcard">
</app-horizontal-card>
<app-image-with-grid [data]="guidance.seventhcard"></app-image-with-grid>
<app-business-second [data]="guidance.business8"></app-business-second>
<app-bussiness-fifth [data]="guidance.fifthcard"> </app-bussiness-fifth>

<app-freequently-asked
  [dataProperty]="guidance.freequentlyasked"
></app-freequently-asked>
<app-horizontal-card [dataProperty]="guidance.horizontalcard1">
</app-horizontal-card>

<div class="py-[4%]"></div>
