<div
  style="  background-image: url('{{ dataProperty.masterbg }}');
  background-repeat: no-repeat;

  background-position: 45% 60%;
  background-size: cover;
  filter: brightness(94%);"
  class="p-[7%] bg-cover h-max bg-no-repeat"
>
  <div class="flex justify-around flex-wrap items-start">
    <div class="lg:basis-[50%] md:basis-[100%] sm:basis-[100%] justify-start">
      <h3 class="font-semikanit text-primary text-[30px]">
        {{ dataProperty.mastertitle }}
      </h3>
      <p class="font-regular text-[28px]">
        {{ dataProperty.mastersubtitle }}
      </p>

      <button class="common-button mt-3">Contact Us</button>
    </div>

    <p
      class="lg:basis-[50%] md:basis-[100%] sm:basis-[100%] font-regular text-toolbarprimary text-[16px] flex items-center pt-2"
    >
      {{ dataProperty.mastercontent }}
    </p>
  </div>
  <div class="w-[100%] h-full pt-7 relative">
    <img
      class="h-[10%] w-full rounded-[15px]"
      [src]="dataProperty.rightimage"
      alt=""
    />
    <div
      class="rounded-[20px] bg-[#002A36] sm:left-0 sm:right-0 lg:w-[50%] sm:w-[100%] md:w-[100%] mt-2 md:bottom-[20px] md:left-[20px] lg:bottom-[5%] lg:left-[20px] lg:absolute"
      style="
  background-image: url('{{ dataProperty.rightbgcolorimage }}');
  background-repeat: no-repeat;
background-size: 200px 200px  ;
background-position: 100% 10%;
 
"
    >
      <div class="p-5 w-[70%]">
        <h4 class="font-semikanit text-[20px] text-whitenormal">
          {{ dataProperty.rightbgcolortitle }}
        </h4>

        <p class="font-regular text-whitenormal">
          {{ dataProperty.rightbgcolorcontent }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div
  class="lg:h-[800px] md:h-[1200px] h-[1000px] bg-[#f7fbfb] mt-5 w-[100%]"
  style="overflow: hidden"
>
  <div
    style="
      background-image: url('{{ dataProperty.masterbg }}');
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      background-position: 45% 60%;
      background-size: cover;
      filter: brightness(94%);
    "
  >
    <div class="w-[100%] h-[35%] flex flex-wrap items-center justify-center">
      <div
        class="lg:basis-[50%] h-[100%] md:basis-[50%] sm:basis-[100%] p-[8%] flex flex-col items-start justify-center"
      >
        <h5 class="font-semikanit text-primary text-[30px]">
          {{ dataProperty.mastertitle }}
        </h5>
        <p class="font-regular text-[28px]">
          {{ dataProperty.mastersubtitle }}
        </p>

        <button class="common-button mt-3">Contact Us</button>
      </div>

      <div
        class="lg:basis-[50%] md:basis-[50%] sm:basis-[100%] p-2 flex flex-col justify-center items-center"
      >
        <div
          class="flex flex-wrap h-[30%] lg:w-[75%] sm:w-[90%] md:[90%] justify-center"
        >
          <p
            class="font-regular text-toolbarprimary text-[16px] flex items-center px-4"
          >
            {{ dataProperty.mastercontent }}
          </p>
        </div>
      </div>
    </div>
    <div class="w-full px-2 h-[70%] flex justify-around flex-col items-center">
      <div
        class="rounded-[20px] h-max py-5 lg:w-[90%] md:w-[100%] w-[100%] bg-cover flex justify-around items-center md:relative lg:relative"
        style="
background-image: url('{{ dataProperty.rightimage }}');
background-repeat: no-repeat;
background-size: 100%;

"
      >
        <div
          class="hidden md:block rounded-[20px] bg-[#002A36] h-[60%] sm:left-0 sm:right-0 lg:w-[50%] sm:w-[90%] md:w-[90%] mt-2 md:bottom-[20px] md:left-[20px] lg:bottom-[20px] lg:left-[20px] absolute"
          style="
        background-image: url('{{ dataProperty.rightbgcolorimage }}');
        background-repeat: no-repeat;
      background-size: 200px 200px  ;
      background-position: 100% 10%;
       
      "
        >
          <div class="p-5 w-[70%]">
            <h4 class="font-semikanit text-[20px] text-whitenormal">
              {{ dataProperty.rightbgcolortitle }}
            </h4>

            <p class="font-regular text-whitenormal">
              {{ dataProperty.rightbgcolorcontent }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="rounded-[20px] block md:hidden bg-[#002A36] h-max p-2 lg:w-[40%] sm:w-[90%] md:w-[90%]"
        style="
  background-image: url('{{ dataProperty.rightbgcolorimage }}');
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: 100% 100%;
 
"
      >
        <div class="p-5 w-[70%]">
          <h4 class="font-semikanit text-[20px] text-whitenormal">
            {{ dataProperty.rightbgcolortitle }}
          </h4>

          <p class="font-regular text-whitenormal">
            {{ dataProperty.rightbgcolorcontent }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
