.header{
    display: flex
    ;
        justify-content: space-between;
        align-items: center;
        column-gap: .5rem;
        cursor: pointer;
        color: #181818;
}

.item:hover {
    background-color: #edfaf7;
}

