.three_card_headers {
    margin: 3rem 0;

    h3 {
        font-size: 2rem;
        color: #181818;
        line-height: 1.3;
        font-family: medium;
    }

    p {
        padding: .3rem 0;
        margin: 0;
        color: #667085;
        font-size: 1.05rem;
        line-height: 1.6;
        font-family: regular;
    }

    button {
        margin-top: 1rem;
    }

}


.card-wrapper-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;

    .card {
        width: 30%;

        h4 {
            margin-top: 1rem;
            font-size: 1.225rem;
            line-height: 1.4;
            font-family: medium;
        }
    }

}



.web-dev-process-section-header-wrapper {
    background: linear-gradient(to right, rgba(24, 24, 24, 0.7), rgba(24, 24, 24, 0.7)), url(https://caresyncexperts.co.uk/images/packages/package-tagline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-bottom: 2rem;
    height: 260px;
    border-radius: .9rem;
    display: flex;

    .web-dev-process-section-header-details {
        text-align: center;
        width: 75%;
        margin: auto;


        h2 {
            font-size: 2rem;
            color: #adffeb;
            font-family: medium;
        }

        p {
            padding: .3rem 0;
            margin: 0;
            font-size: 1.05rem;
            line-height: 1.6;
            font-family: regular;
            color: white;
        }
    }
}

.case-studies-img {
    height: 250px;
    width: 250px;
    border: 2px solid #edfaf7;
    padding: 20px;
}

.box {
    --border-angle: 0deg;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid transparent;
    position: relative;
    transition: border 0.3s ease-in-out;


}

.box:hover {
    cursor: pointer;

    &.b {
        background: linear-gradient(white, white) padding-box,
            conic-gradient(from var(--border-angle),
                #004558 50%,
                #129693) border-box;
    }

    animation: border-angle-rotate 2s infinite linear;
}

@keyframes border-angle-rotate {
    from {
        --border-angle: 0deg;
    }

    to {
        --border-angle: 360deg;
    }
}

@property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}




.faq {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: .5rem;
        cursor: pointer;
        color: #181818;
    }

    .item:hover {
        background-color: #edfaf7;
    }

    .bg {
        background-color: #edfaf7;
    }

    ul li {
        color: rgb(4, 113, 122);
        font-family: medium, sans-serif !important;
        margin: 0px;

    }
}

.carousel {
    background-color: #04495b;
    margin-bottom: 1rem;
    padding: 4rem 0;

    h2 {
        font-family: medium, sans-serif !important;
        color: #adffeb;
        margin: 0;
        font-size: 1.37rem;
        line-height: 1.3;
    }

    h3 {
        font-size: 1.725rem;
        line-height: 1.3;
        font-family: medium, sans-serif !important;
        margin: 0;
        color: #fff;
    }

    h4 {
        display: block;
        unicode-bidi: isolate;
        color: #fff;
        font-family: regular, sans-serif !important;
        margin: 0;
        font-size: 1.1rem;
        line-height: 1.4;
        margin-top: 10px;
    }


    .secondary-outline-button {
        border: 1px solid#129693;
        color: #adffeb !important;
        background: none;
    }

    .button {
        border: 1px solid #129693;
        border-radius: 20px;
        padding: 6px 1.5rem;
        font-family: Kanit, sans-serif !important;
        font-size: 1.1em;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;
        transition: all .3s ease;
    }

    a {
        text-decoration: none;
        color: #129693;
    }


    .owl-theme .owl-nav {
        display: flex;
        justify-content: space-between;
    }

    .owl-carousel {
        margin: 3rem auto 0rem;
        width: 98% !important;
    }

    .owl-theme .owl-nav [class*='owl-'] {
        background: #ddd;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 3px;
        cursor: pointer;
    }

    .item {
        height: max-content;
        width: 250px;


        img {
            height: 90%;
            width: 90%;
            cursor: grab;
            border-radius: 6px;
        }
    }

    @media screen and (max-width: 560px) {

        h3 {
            font-size: 1.1rem;
            margin-bottom: 2.5rem;
        }

        .owl-theme .owl-nav {
            display: flex;
            justify-content: center;
        }

        .owl-carousel {
            margin: 5px auto 0rem;
            width: 100%;
        }

        .item {
            height: max-content;
            width: 270px;
            margin: auto;

            img {
                height: 200px;
                width: 100%;
                cursor: grab;
            }
        }
    }

}

@media (max-width: 1024px) {
    .three_card_headers {
        .card-wrapper-container .card {
            width: 35%;
            margin: auto;
        }
    }

    .web-dev-process-section-header-wrapper {


        .web-dev-process-section-header-details {
            text-align: center;
            width: 90%;
            margin: auto;
        }

    }

    .box:hover {
        animation: none;
    }
}


@media (max-width: 768px) {
    .three_card_headers {
        .card-wrapper-container .card {
            width: 98%;
            margin: auto;
        }
    }


    .web-dev-process-section-header-wrapper {
        height: auto;
        padding: 1.65rem 10px;

        .web-dev-process-section-header-details {
            text-align: center;
            width: 98%;
            margin: auto;

            h2 {
                font-size: 1.4rem;

            }
        }

    }

    div.ml-auto h3.font-semikanit {
        padding-left: 10px;
    }
}