<app-initail-card-panel [dataProperty]="website_dev.initialData"></app-initail-card-panel>
<app-lite-blue-panel></app-lite-blue-panel>
<ng-container *ngFor="let item of website_dev.websiteDesign">
    <ng-container *ngTemplateOutlet="three_card_headers;context: { $implicit: item }"></ng-container>
</ng-container>
<ng-template *ngTemplateOutlet="horizontal_card"></ng-template>
<app-vertical-tabs></app-vertical-tabs>
<ng-container *ngTemplateOutlet="carousel"></ng-container>
<ng-container *ngTemplateOutlet="case_studies"></ng-container>
<ng-container *ngTemplateOutlet="colaborate"></ng-container>
<ng-container
    *ngTemplateOutlet="horizontal_card_2;context: { $implicit: website_dev.horizontal_card_data_2.data }"></ng-container>
<ng-container *ngTemplateOutlet="faq"></ng-container>
<ng-container *ngTemplateOutlet="horizontal_card_2;context: { $implicit:website_dev.horizontal_card_3 }"></ng-container>


<ng-template #three_card_headers let-dataset>
    <section class="three_card_headers container-stretch">
        <h3>
            {{dataset.content.heading.text}}
        </h3>
        <p> {{dataset.content.description.text}} </p>
        <button class="common-button"> {{dataset.content.button.text}}</button>
        <div class="card-wrapper-container">
            <ng-container *ngFor="let item of dataset.content.columns.items">
                <ng-container *ngTemplateOutlet="card_data ;context: { $implicit: item }"></ng-container>
            </ng-container>
        </div>
    </section>
</ng-template>

<ng-template #card_data let-data>
    <div class="card">
        <div class="img-wrap">
            <img [src]="data.image.src" alt="">
        </div>
        <div>
            <h4>
                {{data.heading.text}}
            </h4>
            <p> {{data.description.text}}</p>
        </div>
    </div>
</ng-template>

<ng-template #horizontal_card>
    <div class="web-dev-process-section-header-wrapper container-stretch">
        <div class="web-dev-process-section-header-details">
            <h2 class="web-dev-process-section-heading lg-txt">Our Website Development Process</h2>
            <p>We adopt a data driven approach to ensure your website is not only aesthetically pleasing but also
                delivers measurable results. Our strategies are designed to create user focused, conversion optimised,
                and fully functional websites that meet the healthcare industry's high standards.</p>
        </div>
    </div>
</ng-template>

<ng-template #case_studies>
    <div class=" w-[100%] !max-w-[1200px] mr-auto ml-auto">
        <h3 class="text-[#323433] text-[1.4rem] font-semikanit">Case Studies</h3>

        <div class="flex pt-4 flex-row w-full flex-wrap justify-between">
            <div class="flex lg:basis-[27%] sm:basis-[100%] md:basis-[27%] w-full justify-start  "
                *ngFor="let a of website_dev.datacasestudies">
                <div class="py-6" style="text-align: center;margin: auto;">
                    <div class="box b" (click)="visitWeb( a.url)">
                        <img class="rounded-md case-studies-img" src="{{ a.image }}" alt="" />
                    </div>
                    <p class="font-regular text-[#323433] text-[19px]">{{ a.name }}</p>
                    <a href="{{ a.url }}" class="text-[#129693] text-[15px] font-regular underline">Visit
                        Website</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #colaborate>
    <div style="background-color:#edfaf7;padding: 4rem 0">
        <app-dynamic-para-with-image
            [dataProperty]="website_dev.dynamicPara.dynamiccontent"></app-dynamic-para-with-image>
    </div>
</ng-template>

<ng-template #horizontal_card_2 let-data>
    <app-horizontal-card [dataProperty]="data"></app-horizontal-card>
</ng-template>

<ng-template #faq>

    <div class="faq">
        <div class="p-[1.2rem] lg:px-[0.5rem] md:p-[3rem] w-[90%] !max-w-[1200px] mr-auto ml-auto">
            <h2 class="text-center mb-2 text-[2rem] font-semikanit">
                {{ website_dev. faq_ques.faq_section?.title }}
            </h2>
            <div (click)="selectIndex(i, $event)"
                *ngFor="let a of website_dev. faq_ques.faq_section.questions; let i = index" class="rounded-[12px] p-[1rem] mb-[1rem] item {{
      selecteData() == i ? 'bg' : ''
    }}">
                <div class="header">
                    <h3 class="text-[1.37rem] font-regular">
                        {{ a.question }}
                    </h3>
                    <i class="bi bi-{{
          selecteData() == i ? 'dash-circle' : 'plus-circle'
        }} text-[25px]"></i>
                </div>
                <div *ngIf="i == selecteData()" class="content  font-regular text-[1.05rem] mt-[10px]">
                    <p class=" text-toolbarprimary">
                        {{ a.answer }}
                    </p>
                    <ng-container *ngFor="let b of a.details">
                        <ul class="py-3">
                            <li class="py-2">
                                <i class="text-[12px] bi bi-circle-fill "></i>
                                {{ b.title }}
                            </li>
                        </ul>
                        <p class=" text-toolbarprimary">
                            {{ b?.description }}
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
</ng-template>


<ng-template #carousel>
    <div class="carousel">
        <div class=" container-stretch">
            <h2>
                Our Work
            </h2>
            <h3>We have developed highly functional websites for healthcare providers across the UK. Explore a few of
                our
                recent projects:</h3>

            <div>
                <div #owlCarousel class="owl-carousel owl-theme container-stretch">
                    <ng-container *ngFor="let item of website_dev.carousel">
                        <div class="item">
                            <img [src]="item.image" alt="">
                            <h4>{{ item.title }}</h4>
                            <a [href]="item.url" target="_blank" class="button secondary-outline-button">Visit
                                Website</a>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-template>