<main class="mt-[3rem]">
    <ng-container *ngTemplateOutlet="automatic_carousel"></ng-container>
    <ng-container *ngTemplateOutlet="tender_opportunites"></ng-container>
    <ng-container *ngTemplateOutlet="bid_stand_out"></ng-container>
    <ng-container *ngTemplateOutlet="unlock_opportunities"></ng-container>

    <!-- <ng-container *ngTemplateOutlet="contract_filter"></ng-container> -->

</main>



<ng-template #automatic_carousel>
    <section class="container-stretch animated-img-container">
        <aside>
            <h1 [innerHTML]="initialcontainer.header"> </h1>
            <p>Find tailored tenders across the UK healthcare industry. Whether you specialise in domiciliary care,
                supported living, or nursing services, our Tender Feed connects you with contracts that match your
                expertise. Stay compliant with key regulations like CQC, OFSTED, RQIA, and CIW as you bid with
                confidence.</p>
        </aside>
        <ng-container *ngTemplateOutlet="image_keyframes"></ng-container>
    </section>
</ng-template>

<ng-template #image_keyframes>
    <aside class="image_keyframes">
        <div class="slider-wrapper">
            <div class="slider">
                <img src="../../../assets/tender-slidder/image1-CyhPUlLn_11zon.jpg" alt="">
                <img src="../../../assets/tender-slidder/image2-B3rsmwQn_11zon.jpg" alt="">
                <img src="../../../assets/tender-slidder/image3-B-kDIsE9_11zon.jpg" alt="">
            </div>
            <div class="slider-two ">
                <img src="../../../assets/tender-slidder/image4-24fzayux_11zon.jpg" alt="">
                <img src="../../../assets/tender-slidder/image5-CqjNiEAf_11zon.jpg" alt="">
                <img src="../../../assets/tender-slidder/image6-DIdJk6V5_11zon.jpg" alt="">
            </div>
        </div>
    </aside>
</ng-template>

<ng-template #bid_stand_out>
    <section class="container-stretch bid_stand_out">
        <article>
            <h1>
                Make Your Bid Stand Out
            </h1>
            <p [innerHTML]="initialcontainer.bid_standout"></p>
        </article>
        <picture>
            <figure>
                <img src="https://www.caresyncexperts.co.uk/images/tenders/tender-bid-writing.jpg" alt="">
                <figcaption>
                    <h3>
                        Bid Writing Services
                    </h3>
                    <p>
                        Request professional support to craft a winning bid.
                    </p>
                </figcaption>
            </figure>
            <figure>
                <img src="https://www.caresyncexperts.co.uk/images/tenders/tender-compliance-checks.jpg" alt="">
                <figcaption>
                    <h3>
                        Expert Compliance Checks
                    </h3>
                    <p>
                        Ensure your proposal meets CQC, OFSTED, RQIA, or CIW standards.
                    </p>
                </figcaption>
            </figure>
            <figure>
                <img src="https://www.caresyncexperts.co.uk/images/tenders/tender-one-click-support.jpg" alt="">
                <figcaption>
                    <h3>
                        One Click Support
                    </h3>
                    <p>
                        Need assistance? Reach out directly from our feed
                    </p>
                </figcaption>
            </figure>

        </picture>



    </section>
</ng-template>

<ng-template #unlock_opportunities>
    <section class="container-stretch unlock_opportunities">
        <figure>
            <img src="https://www.caresyncexperts.co.uk/images/tenders/tender-cta.png" alt="">
        </figure>
        <article>
            <div>
                <ng-container *ngFor="let item of [1,2,3,4,5]">
                    <i class="bi bi-star-fill me-[10px]"></i>
                </ng-container>
                <h2>
                    Unlock Opportunities Today
                </h2>
                <ng-container>
                    <p>Explore new tenders across the healthcare industry.</p>
                    <p>Save tenders to your personalised dashboard for quick follow up.</p>
                    <p>Stay notified with real time alerts about new opportunities.</p>
                </ng-container>
                <div class="blue-container">
                    <p>Ready to find your next tender?</p>
                    <button>Start Exploring<i class="bi bi-box-arrow-up-right"></i></button>
                </div>
            </div>
        </article>
    </section>
</ng-template>

<ng-template #tender_opportunites>
    <section class="container-stretch tender_opportunites">
        <h2> Current Tender Opportunities </h2>
        <ng-container *ngTemplateOutlet="filter_list"></ng-container>
        <div class="card-container">
            @for (item of tenders; track item) {
            <div class="card" [ngStyle]="{
                'flex-basis': cardType === 'grid' ? '31%' : '80%',
                'border-left': cardType !== 'grid' ? '4px solid #04717a' : 'none',
                'margin': cardType === 'grid' ? '1rem 12px 1rem 0' : '1rem auto'
              }">
                <div class="card-body">
                    <button>
                        {{ item?.cpvTitle }}
                    </button>
                    <h1>
                        {{ item?.title }}
                    </h1>
                    <div class="data-container">
                        <article class="mt-[1rem]">
                            <h6><i class="bi bi-geo-alt-fill mr-[5px]"></i>Region :</h6>
                            <h4>{{ item?.region }}</h4>
                        </article>
                        <article class="mt-[1rem]">
                            <h6><i class="bi bi-person-lines-fill mr-[5px]"></i>Contractor :</h6>
                            <h4>{{ item?.contactDetails?.town }}</h4>
                        </article>
                        <article class="mt-[1rem]">
                            <h6><i class="bi bi-stopwatch-fill mr-[5px]"></i>Closes In :</h6>
                            <h4>{{ item?.deadlineDate | date: 'd MMMM y' }}</h4>
                        </article>
                        <article class="mt-[1rem]">
                            <h6><i class="bi bi-currency-exchange mr-[5px]"></i>Value From :</h6>
                            <h4>{{ item?.valueLow | currency:'EUR':'symbol':'1.0-0' }}</h4>
                        </article>
                        <div class="button-container">
                            <button>Show Interest</button>
                            <button class="white-btn">More Details</button>
                        </div>
                    </div>
                </div>
            </div>
            } @empty {
            <div class="text-center w-full py-4 text-gray-500">
                @if(tenders==undefined){
                <app-card-skeleton [dataProperty]="cardType"></app-card-skeleton>
                }@else {
                <app-data-unavailabilty [dataProperty]="'no-data'"></app-data-unavailabilty>
                No Tender Available
                }
            </div>
            }

        </div>
        <ng-template *ngTemplateOutlet="pagination_"> </ng-template>
    </section>
</ng-template>

<ng-template #filter_list>
    <div class="filter_list">
        <ng-container *ngTemplateOutlet="search_box"></ng-container>
        <ng-container *ngTemplateOutlet="title_filter"></ng-container>
        <ng-container *ngTemplateOutlet="region_filter"></ng-container>
        <ng-container *ngTemplateOutlet="contract_filter"></ng-container>
        <div style="display: flex;justify-content: space-evenly;flex-basis: 10%;" class="type-switch">
            <div (click)="viewType('grid')" class="cursor-pointer" [ngClass]="{ 'circle-border': cardType === 'grid' }">
                <ng-container *ngTemplateOutlet="grid_view"></ng-container>
            </div>

            <div (click)="viewType('list')" class="cursor-pointer" [ngClass]="{ 'circle-border': cardType === 'list' }">
                <ng-container *ngTemplateOutlet="list_view"></ng-container>
            </div>


        </div>

    </div>
</ng-template>


<ng-template #search_box>
    <div>
        <div class="search-input-container">
            <div class="input-container text-sm">
                <input type="text" class="search-input" [formControl]="searchControl" placeholder="Search..." />
                <i class="bi bi-search"></i>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #grid_view>
    <svg width="34px" height="34px" viewBox="-8.4 -8.4 40.80 40.80" xmlns="http://www.w3.org/2000/svg" fill="#000000"
        stroke="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0">
            <rect x="-8.4" y="-8.4" width="40.80" height="40.80" rx="20.4" fill="#129693" strokewidth="0">
            </rect>
        </g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <title></title>
            <g id="Complete">
                <g id="grid">
                    <g>
                        <rect fill="none" height="7" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.392" width="7" x="14.5" y="2.5"></rect>
                        <rect fill="none" height="7" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.392" width="7" x="14.5" y="14.5"></rect>
                        <rect fill="none" height="7" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.392" width="7" x="2.5" y="2.5"></rect>
                        <rect fill="none" height="7" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.392" width="7" x="2.5" y="14.5"></rect>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</ng-template>


<ng-template #list_view>
    <svg width="34px" height="34px" viewBox="-6 -6 36.00 36.00" xmlns="http://www.w3.org/2000/svg" fill="#000000"
        stroke="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0">
            <rect x="-6" y="-6" width="36.00" height="36.00" rx="18" fill="#129693" strokewidth="0"></rect>
        </g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <title></title>
            <g id="Complete">
                <g id="align-left">
                    <g>
                        <polygon fill="#fffffffffff" points="12.9 18 4.1 18 4.1 18 12.9 18 12.9 18" stroke="#ffffff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.272"></polygon>
                        <polygon fill="#fffffffffff" points="20 14 4 14 4 14 20 14 20 14" stroke="#ffffff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.272"></polygon>
                        <polygon fill="#fffffffffff" points="12.9 10 4.1 10 4.1 10 12.9 10 12.9 10" stroke="#ffffff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.272"></polygon>
                        <polygon fill="#fffffffffff" points="20 6 4 6 4 6 20 6 20 6" stroke="#ffffff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.272"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</ng-template>



<ng-template #pagination_>
    <div>
        <div class="flex items-center justify-between border-t border-gray-500 px-4 py-3 sm:px-6">
            <div class="flex flex-1 items-center justify-between flex-wrap">
                <div class="lg:basis-[50%] md:basis-[50%] sm:basis-[98%]">
                    <p class="text-sm text-[#000] font-regular">
                        Showing
                        <span class="font-regular text-[#129693]">{{ pagination?.pageSize }}</span>
                        items per page
                    </p>
                </div>
                <div class="flex items-center space-x-2 lg:basis-[50%] md:basis-[50%] sm:basis-[98%] lg:mt-3 mt-3">
                    <button [disabled]="pagination?.page === 1" (click)="changePage(pagination?.page - 1)" class="relative inline-flex items-center rounded-md text-[#000] font-regular px-4 py-2 text-sm font-semibold 
                       {{
                pagination?.page === 1
                  ? 'border border-[#e4e4e4] text-primary  font-regular cursor-not-allowed'
                  : 'bg-primary text-whitenormal font-regular hover:text-blue-800'
              }}">
                        Prev
                    </button>

                    <div class="flex items-center space-x-1">
                        <ng-container *ngFor="let page of pages">
                            <button (click)="changePage(page)" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold 
                           {{
                    pagination?.page === page
                      ? 'border border-2-[#e4e4e4] font-regular text-[#000]'
                      : 'text-gray-900 font-regular  border border-[#e4e4e4] hover:bg-gray-50'
                  }} 
                           rounded-md">
                                {{ page }}
                            </button>
                        </ng-container>
                    </div>

                    <button [disabled]=" pagination?.page === pagination?.totalPages"
                        (click)="changePage(pagination?.page)" class="relative inline-flex items-center px-4 py-2 text-sm rounded-md font-semibold 
                       {{
                pagination?.page === pagination?.totalPages
                  ? 'border border-[#e4e4e4] text-primary  font-regular cursor-not-allowed'
                  : 'bg-primary text-whitenormal font-regular hover:text-blue-800'
              }}">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #title_filter>
    <div>
        <div class="custom-filter-container">
            <div class="inner-context-filter">
                <button [dropdownTriggerFor]="dropdown" class="button" #toggleData_title="toggleOpener">
                    <p class="ml-[15px]  text-sm">Select Type...
                    </p>
                    <i class="bi bi-caret-down-fill text-xl mr-[10px]" [ngClass]="
                    { 'rotate-up':toggleData_title.isDropdownOpen, 
                        'rotate-down': !toggleData_title.isDropdownOpen }"></i>
                </button>
            </div>

            <app-dropdown #dropdown>
                <div class="example-listbox-container">
                    <ul cdkListbox cdkListboxMultiple cdkListboxUseActiveDescendant
                        (cdkListboxValueChange)="CheckChange($event,'title')" aria-labelledby="example-spatula-label"
                        class="example-listbox">
                        @for (feature of filter.title; track feature) {
                        <li [cdkOption]="feature" class="example-option">{{feature}}</li>
                        } @empty {
                        <div class="example-option">
                            No Type found.
                        </div>
                        }
                    </ul>
                </div>
            </app-dropdown>

        </div>

    </div>
</ng-template>

<ng-template #contract_filter>

    <div>
        <app-searchable-drop-down [source]="filter.contracts" [selectedIndex]="0" [checkboxes]="true"
            [placeholder]="'Select Contracts'" [dropDownHeight]="'170px'" [height]="'36px'"
            (outputData)="CheckChange($event,'contracts')"
            [initialData]="filterQuery().regions"></app-searchable-drop-down>
        <!-- <app-multi-select [source]="filter.contracts"></app-multi-select> -->
    </div>

</ng-template>


<ng-template #region_filter>

    <div>
        <app-searchable-drop-down [source]="filter.regions" [selectedIndex]="0" [checkboxes]="true"
            [placeholder]="'Select Region'" [dropDownHeight]="'170px'" [height]="'36px'"
            (outputData)="CheckChange($event,'regions')"
            [initialData]="filterQuery().regions"></app-searchable-drop-down>
    </div>
</ng-template>