<footer class="bg-gray-800 text-white  px-4 flex flex-col justify-between 	bg-backgroundcolor">
    <div class="max-w-screen-xl mx-auto py-11 grid grid-cols-1 md:grid-cols-2 items-start place-items-center place-content-start  lg:grid-cols-4 gap-6">
        <!-- Column 1 -->
        <div>
            <ul class="space-y-2">
              <li>
                <img src="https://www.caresyncexperts.co.uk/images/care-sync-experts-logo-white.png" alt="">
                <div class="pt-6 flex justify-between items-center">
                    <i class="bi bi-tiktok iconsc"></i>
   
                    <i class="bi bi-facebook iconsc"></i>
                    <i class="bi bi-youtube iconsc"></i>
                </div>
              </li>
            </ul>
        </div>
        
        <!-- Column 2 -->
        <div>
            <h3 class="font-semibold sm:text-left md:text-center lg:text-left text-center text-lg mb-4 font-['semikanit'] text-[#adffeb]">Our Packages</h3>
            <ul class="space-y-2">
                <li  class="sm:text-left md:text-center lg:text-left underline-link text-center "><a href="#" class="hover:text-gray-400  text-[#fff] font-['regular'] ">Domiciliary Care</a></li>
                
                <li class="sm:text-left md:text-center lg:text-left underline-link  text-center"><a href="#" class="hover:text-gray-400  text-[#fff]  font-['regular']">Supported Living Services </a></li>
                <li class="sm:text-left md:text-center lg:text-left  underline-link text-center"><a href="#" class="hover:text-gray-400  text-[#fff] font-['regular']">Temporary Staffing Solutions</a></li>
                <li  class="sm:text-left md:text-center lg:text-left underline-link  text-center"><a href="#" class="hover:text-gray-400  text-[#fff]  font-['regular']">Combined Care Agency</a></li>
                <li  class="sm:text-left md:text-center lg:text-left underline-link  text-center"><a href="#" class="hover:text-gray-400  text-[#fff] font-['regular']">CIW Domiciliary Care</a></li>
                <li  class="sm:text-left md:text-center lg:text-left  underline-link text-center"><a href="#" class="hover:text-gray-400 text-[#fff] font-['regular']">RQIA Domiciliary Care</a></li>
            </ul>
        </div>

        <!-- Column 3 -->
        <div>
            <h3 class="font-semibold text-lg mb-4 sm:text-left md:text-center lg:text-left text-center font-['semikanit'] text-[#adffeb]">Quick Links</h3>
            <ul class="space-y-2">
                <li class="sm:text-left md:text-center lg:text-left underline-link text-center"><a href="#" class="hover:text-gray-400  text-[#fff] font-['regular'] ">FAQs</a></li>
                <li  class="sm:text-left md:text-center lg:text-left underline-link text-center"><a href="#" class="hover:text-gray-400  text-[#fff]  font-['regular']">Download Our Brochures </a></li>

            </ul>
        </div>

        <!-- Column 4 -->
        <div >
            <h3 class="font-semibold text-lg mb-4  sm:text-left md:text-center lg:text-left text-center font-['semikanit'] text-[#adffeb]">Stay Connected</h3>
            <ul class="space-y-2">
                <li class="sm:text-left md:text-center lg:text-left  text-center"><a href="#" class="hover:text-gray-400 my-2  text-[#fff] font-['regular'] "><i class="bi bi-telephone-outbound-fill text-[#fff] font-[20px] mr-1" ></i> +44 333 577 0877</a></li>
                <li class="sm:text-left md:text-center lg:text-left lg:text-left text-center"><a href="#" class="hover:text-gray-400 my-2  text-[#fff]  font-['regular']"><i class="bi bi-envelope-fill text-[#fff] font-[20px] mr-1" ></i> hello&#64;caresyncexperts.co.uk </a></li>
                <li class="sm:text-left md:text-center lg:text-left lg:text-left text-center"><a href="#" class="hover:text-gray-400 my-2  text-[#fff] font-['regular']">Would you like to receive update from CareSync Experts?</a></li>
                <li class="sm:text-left md:text-center lg:text-left lg:text-left text-center"><a href="#" class="hover:text-gray-400 my-2  text-[#fff]  font-['regular']">Combined Care Agency</a></li>
                <li class="  flex lg:justify-start justify-center"><a  class="hover:text-gray-400 my-2   text-[#fff] font-['regular'] flex items-center"> <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 bg-white mr-1 border-gray-300 rounded-sm checked:bg-blue-600 checked:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"> I agree to the Privacy Policy</a></li>
                <li class="sm:text-left md:text-center lg:text-left lg:text-left text-center"><div  class="hover:text-gray-400 my-2  text-[#fff] font-['regular']"><input placeholder="Email Address" type="text" class="inputtheme"></div></li>
            </ul>
        </div>
    </div>
    <div class=" lg:p-2 sm:pb-[30px]  mb-[56px]  lg:mb-0 md:pb-3 md:pt-3 bg-backgroundcolor w-[100%] flex justify-evenly flex-wrap sm:basis-[100%] lg:basis-[50%] md:basis-[50%] items-center border1 ">
        <p class="text-[#9c9b99] font-regular text-center">
            Copyright © 2024 - Care Sync Experts, All Rights Reserved.
        </p>
        <p class="text-[#9c9b99] font-regular text-center">
       <a href="https://www.caresyncexperts.co.uk">
        Care Sync Experts
       </a>
        </p>
    </div>
</footer>

<!-- <div class="sm:hidden md:hidden lg:block"> -->
 
<!-- </div> -->
