<main class="h-max w-full bg-[#FAFDF9] flex justify-center">
  <div
    class="flex items-center !max-w-[1200px] justify-between flex-wrap w-full"
  >
    <div class="lg:basis-[48%] md:basis-[100%] sm:basis-[100%] p-[1.5rem]">
      <div class="py-3 text-[32px]" [innerHTML]="data.title"></div>
      <p class="text-[#667085] font-regular py-3">
        {{ data.sub1 }}
      </p>
      <p class="text-[#667085] font-Elightkanit py-3">
        {{ data.sub2 }}
      </p>
    </div>

    <div class="lg:basis-[48%] md:basis-[96%] sm:basis-[96%] p-[1.5rem]">
      <img src="../../../assets/elevatecare/1st business.png" alt="" />
    </div>
  </div>
</main>
