<div
  class="main-cont !max-w-[1200px] mr-auto ml-auto p-[1.2rem] lg:px-[0.5rem] md:p-[3rem] w-[90%] m-[auto]"
>
  <article>
    <h1
      *ngIf="dataProperty?.section?.heading"
      [style.color]="dataProperty?.section?.headerColor"
    >
      {{ dataProperty.section.heading }}
    </h1>
    <h4 *ngIf="dataProperty?.section?.description">
      {{ dataProperty.section.description }}
    </h4>
    <p
      *ngIf="dataProperty?.section?.subSectionHeading"
      [ngStyle]="dataProperty?.section?.anothersub && { color: 'black' }"
    >
      {{ dataProperty.section.subSectionHeading }}
    </p>
    <p
      *ngIf="dataProperty?.section?.anothersub"
      [ngStyle]="dataProperty?.section?.anothersub && { color: 'black' }"
    >
      {{ dataProperty.section.anothersub }}
    </p>
  </article>
  <ng-container *ngTemplateOutlet="zig_zag_card"></ng-container>
</div>

<ng-template #zig_zag_card>
  <section>
    <ng-container *ngFor="let card of dataProperty.section.cards">
      <div
        class="card-box"
        [ngStyle]="{
          'background-color': card.colors.cardBackground,
          width: card?.rev ? '58%' : '38%'
        }"
      >
        <ng-container
          *ngTemplateOutlet="card_data; context: { $implicit: card }"
        ></ng-container>
      </div>
    </ng-container>
  </section>
</ng-template>

<ng-template #card_data let-card>
  <main>
    <div
      class="content-card"
      [ngClass]="{ 'important-width': card?.image?.src }"
    >
      <h2 *ngIf="card.title" [ngStyle]="{ color: card.colors.headerColor }">
        {{ card.title }}
      </h2>
      <p
        *ngIf="card.description"
        [innerHTML]="card.description"
        [ngStyle]="{ color: card.colors.contentColor }"
        class="custom-paragraph"
      ></p>
    </div>
    <div>
      <img
        *ngIf="card.image?.src"
        [src]="card.image.src"
        [alt]="card.image.alt || 'Image'"
        [title]="card.image.title || 'Image'"
      />
    </div>
  </main>
</ng-template>
