<div class="main-cont">
    <article>
        <h1 *ngIf="dataProperty?.section?.heading">
            {{ dataProperty.section.heading }}
          </h1>
          <h4 *ngIf="dataProperty?.section?.description">
            {{ dataProperty.section.description }}
          </h4>
          <p *ngIf="dataProperty?.section?.subSectionHeading">
            {{ dataProperty.section.subSectionHeading }}
          </p>
    </article>
    <ng-container *ngTemplateOutlet="zig_zag_card"></ng-container>
</div>

<ng-template #zig_zag_card>
    <section>
        <ng-container *ngFor="let form of [1]">
            <div class="card-box">
                <ng-container *ngTemplateOutlet="card_data"></ng-container>
            </div>
            <div class="card-box">
                <ng-container *ngTemplateOutlet="card_data"></ng-container>
            </div>
        </ng-container>
    </section>
</ng-template>



<ng-template #card_data>
    <main>
        <div class="content-card">
            <h2>Mock Interviews
            </h2>
            <p>
                Simulated CQC interviews to help you practise, refine your answers, and build confidence.
            </p>
        </div>
        <div>
            <img src="https://caresyncexperts.co.uk/images/packages/domiciliary-care-cqc-mock-interview.jpg" alt="">
        </div>
    </main>
</ng-template>