.main-cont {


    article {
        h1 {
            font-size: 2rem;
            font-family: medium;
        }

        h4 {
            font-size: 1.2rem;
            font-family: semikanit;
        }

        p {
            font-family: regular;
            color:  rgba(0, 0, 0, 0.551);
        }
    }
}



.main-cont section {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-box {

        border-radius: .9rem;
        height: 15rem;
        margin: auto;
        margin-top: 1rem;


        h2 {
            font-family: medium;
            font-size: 1.3rem;
        }

        p {
            font-family: regular;
        }

        div img {
            height: 15rem;
            border-top-right-radius: .9rem;
            border-bottom-right-radius: .9rem;
        }


        main {
            display: flex;
            justify-content: space-between;
            border-radius: .9rem;

            .content-card {
                padding: 3rem;
            }
        }
    }
}



.important-width {
    width: 60%;
}



@media (max-width: 1024px) {
    .main-cont section {
        flex-direction: column;

        div.card-box {
            width: 100% !important;

        }
    }

}


@media (max-width: 768px) {
    .main-cont section {
        flex-direction: column;

        div.card-box {
            width: 100% !important;
            height: max-content !important;

            main {
                flex-direction: column;

                .content-card {
                  width: 100% !important;
                  padding: 1rem;
                }

                div img {
                    height: 15rem;
                    width: 100%;
                    border-radius: .9rem;
                    border-radius: .9rem;
                }
            }
        }
    }
}