$bodywidth: 100vw;

.body-content {
  position: relative;

  header {
    height: 80px;
    width: $bodywidth;
  }

  section {
    height: calc(100vh - 80px);
    width: $bodywidth;
  }

  overflow-x: hidden;

}