$bodywidth: 100vw;

p {
  background-color: var(--background-color);
  font-family: 'Kanit';
}

.body-content {
  position: relative;

  header {
    height: 80px;
    width: $bodywidth;
  }

  overflow-x: hidden;

  .fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }

}


::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}