<div class="bg-[#004558] h-max w-[100vw] package-container">
  
    <div class="ml-[20px]">
        <h2 class="font-regular package-head">Our Packages</h2>
        <h5 class="package-hd-sub">
            Start Your Healthcare Business with Assurance
        </h5>
        <p class="package-content">
            Begin your venture in the healthcare industry with our professionals guiding you. We provide cutting edge
            solutions, support and tactics to assist you in setting up and effectively overseeing a range of healthcare
            services such as:
        </p>
    </div>

    <div class="sub-container">
        <div class="left">
            <ng-container *ngTemplateOutlet="card_container"></ng-container>
        </div>
        <div class="right">
            <ng-container *ngTemplateOutlet="image_container"></ng-container>
        </div>
    </div>
</div>


<ng-template #card_container>
    <ng-container *ngFor="let item of list_package">
        <div>
            <app-package-card ngSkipHydration [height]="item.height">
                <h2 slot="header" class="text-[#129693] font-bold text-[1.1rem]">
                    {{item.title}}
                </h2>
                <p slot="content" class="text-black font-medium text-[15px] mt-2">
                    {{item.content}}
                </p>
            </app-package-card>
        </div>
    </ng-container>
</ng-template>

<ng-template #image_container>
    <figure class="image-class carousel">
        <div  class="item" *ngFor="let item of imageUrls; let i = index" [class.active]="currentSlideIndex == i">
            <img [src]="item.image" alt="Carousel Image">
        </div>
        <div class="image-caption">
            <button class="nav-button me-2" (click)="prevSlide()">
                <span class="dot">
                    <app-svg [svgType]="'back_arrow_black'"></app-svg>
                </span>
            </button>
            <button class="nav-button ms-2" (click)="nextSlide()">
                <span class="dot">
                    <app-svg [svgType]="'back_arrow_rtl_black'"></app-svg>
                </span>
            </button>
        </div>
        <h3 class="figcaption">{{imageUrls[currentSlideIndex]['title']}}</h3>
    </figure>
</ng-template>


<ng-template #image_container_>
    <div class=" image-class carousel">
        <div class="item" *ngFor="let item of imageUrls; let i = index" [class.active]="currentSlideIndex == i">
            <img [src]="item.image" alt="Carousel Image">
        </div>
        <button (click)="prevSlide()">Previous</button>
        <button (click)="nextSlide()">Next</button>
    </div>
</ng-template>