.package-container {
    padding: 5rem 5rem;


    .package-head {
        font-family: regular;
        font-size: 2.5rem;
        color: #aafbeb;

    }

    .package-hd-sub {
        font-family: bold;
        font-size: 2rem;
        color: #fafdf9;

    }

    .package-content {
        font-family: regular;
        font-size: 1.1rem;
        color: #fafdf9;

    }

    .sub-container {
        display: flex;
        width: 100%;
        margin-top: 3rem;

        .left {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            gap: 10px;
            justify-content: center;
        }

        .image-class {
            img {
                width: 90%;
                height: 915px;
            }
        }


    }


}

@media (max-width: 859px) {

    .package-container {
        padding: 30px 10px;

        .package-head {
            font-family: regular;
            font-size: 2rem;
        }

        .package-hd-sub {
            font-family: bold;
            font-size: 1.5rem;
        }

        .package-content {
            font-family: regular;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 560px) {

    .package-container {
        padding: 3rem 10px;
        height: 2600px;

        .package-head {
            font-family: regular;
            font-size: 1.7rem;
        }

        .package-hd-sub {
            font-family: bold;
            font-size: 1.1rem;
            color: #f9f9f9;
        }

        .package-content {
            font-family: regular;
            font-size: .8rem;
        }

        .sub-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            justify-content: center;

            .left {
                display: flex;
                flex-wrap: wrap;
                width: 50%;
                gap: 10px;
                justify-content: center;
            }

            .right {
                .image-class {
                    margin-top: 2rem;
                    img {
                        width: 100%;
                        height: 400px;
                    }
                }
            }
        }
    }

}