<section class="container-stretch">
    <div class="intial-content" *ngIf="data?.backgroundImage"
        [style.backgroundImage]="'url(' + data?.backgroundImage + ')'">
        <div class="content-wrapper">
            <div>
                <h3 *ngIf="data?.heading">{{ data?.heading }}</h3>
                <h1 *ngIf="data?.heading1">{{ data?.heading1 }}</h1>
                <p *ngIf="data?.paragraph" [innerHTML]="data?.paragraph"></p>
            </div>
        </div>
    </div>
</section>

<ng-container *ngFor="let item of data.list">
    <section *ngIf="item.type=='image-card'">
        <app-gui-img-data [dataProperty]="item.card"></app-gui-img-data>
    </section>
    <section *ngIf="item.type=='text-card'">
        <app-gui-card-data [dataProperty]="item"></app-gui-card-data>
    </section>
</ng-container>





<section>
    <app-freequently-asked [dataProperty]="data.freequentlyasked"></app-freequently-asked>
</section>

<section>
    <app-horizontal-card [dataProperty]="data.horizontal"></app-horizontal-card>
</section>