.swiper-container {
    position: relative; /* Ensure proper positioning for the card */
  }
 
  
  .swiper-slide .card {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 8px;
    z-index: 10; /* Ensure card is on top of the image */
  }
  