
 
.sticky {
  position: sticky;
  // /* font-size: 32px; 
  top: 0;
  width: 100%;
  /* height: 100px; */
  height: 20px;
  padding: 1em 0;
  color: black;
  text-align: center;
  transition: .32s;
  background-color: white;
}

.fixed {
  font-size: 24px;
  position: fixed;
  height: 20px;
  background: rgba(255, 255, 255, 0.1) ;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: .25s;
}


body {
  margin: 0;
  background-color: bisque;
}

// :root {
//     height: 1000%;
//     font-family: sans-serif;
// }
































/* .top {
  text-align: center;
  background: #2980b9;
  color: #fff;
} */

/* .bottom {
  padding: 5em 0;
  background: #2980b9;
  color: white;
  text-align: center;
} */



 