<section>
   <app-home-page-entry-carousel></app-home-page-entry-carousel>
</section>

<div class="mt-[60px]">
   <app-imageselecterpart></app-imageselecterpart>
</div>
<div class="service-panel  ">
   <app-services></app-services>
</div>

<section class="service-panel">
   <app-package></app-package>
</section>

<section>
   <app-infinite-carousel></app-infinite-carousel>
</section>

<section>
   <app-grow-care-buisness></app-grow-care-buisness>
</section>

<section>
   <app-growing-market></app-growing-market>
</section>

<!-- <section>
   <app-image-carousel></app-image-carousel>
</section> -->