<div class="main-container">
    <main *ngIf="dataProperty?.mainContainer?.main">
        <section *ngIf="dataProperty?.mainContainer.main.sections[0]">
            <h1>{{ dataProperty?.mainContainer.main.sections[0]?.heading }}</h1>
            <h4>{{ dataProperty?.mainContainer.main.sections[0]?.subHeading }}</h4>
            <button class="common-button">
                {{ dataProperty?.mainContainer.main.sections[0]?.buttonText }}
            </button>
        </section>
        <section *ngIf="dataProperty?.mainContainer.main.sections[1]">
            <p>
                {{ dataProperty?.mainContainer.main.sections[1]?.content }}
            </p>
        </section>
    </main>
    <figure *ngIf="dataProperty?.mainContainer?.figure">
        <div>
            <img [src]="dataProperty?.mainContainer.figure.image?.src" [alt]="dataProperty?.mainContainer.figure.image?.alt" />
            <figcaption>
                {{ dataProperty?.mainContainer.figure?.figcaption }}
            </figcaption>
        </div>
    </figure>
</div>