<div class="main-container">
    <main>
        <section>
            <h1>
                BUSINESS SETUP
            </h1>
            <h4>
                LAUNCH YOUR HEALTHCARE BUSINESS WITH CONFIDENCE AND SUCCESS
            </h4>
            <button class="common-button">
                Contact Us
            </button>
        </section>
        <section>
            <p>
                Starting a healthcare venture like establishing a Domiciliary Care Agency, Temporary Staffing service or
                Supported Living service demands planning, precise implementation and strict adherence to regulations.
                At
                Care Sync Experts we offer services to set up your healthcare agency for success from the beginning.
            </p>
        </section>
    </main>
    <figure>
        <div>
            <img src="https://caresyncexperts.co.uk/images/services/care-sync-business-setup-header.jpg"
                alt="Description of the image">
            <figcaption>
                At Care Sync Expertswe offer services to setup your healthcare agency for success  from the beginning
            </figcaption>
        </div>
    </figure>

</div>