@import 'swiper/swiper-bundle.min.css';

@font-face {
  font-family: "Kanit-bold";
  src: url("../src/assets/fonts/Kanit/Kanit-Black.ttf");
}

@font-face {
  font-family: "EKanit";
  src: url("../src/assets/fonts/Kanit/Kanit-ExtraLight.ttf");
}

@font-face {
  font-family: "LKanit";
  src: url("../src/assets/fonts/Kanit/Kanit-Light.ttf");
}

@font-face {
  font-family: "semikanit";
  src: url("../src/assets/fonts/Kanit/Kanit-SemiBold.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../src/assets/fonts/Kanit/Kanit-Regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../src/assets/fonts/Kanit/Kanit-Bold.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../src/assets/fonts/Kanit/Kanit-Medium.ttf");
}

:root {
  --primary: #129693;
  --accordian-color: #0f7f7d;
  --background-color: #004558;
  --toolbar-primary: #667085;
  --footer: #98A2B3;
  --normal-text: #323433;
  --white-normal: #ffffff;
  --toolbar-bg: #FAFDF9;
  --text-secondary: #adffeb;
}

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* In styles.css or global.scss */
@media (max-width: 768px) {

  body,
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
  }
}

.common-button {
  background-color: var(--primary);
  padding: 8px 25px;
  color: white;
  border-radius: 2rem;
  font-family: regular;
  cursor: pointer;
  transition: .3s ease;
}

.common-button:hover {
  background-color: var(--background-color);
}


.common-button-white {
  background-color: white;
  padding: 8px 25px;
  color: black;
  border: 1px solid var(--primary);
  border-radius: 2rem;
  font-family: regular;
  cursor: pointer;
  transition: .3s ease;
}

.common-button-white:hover {

  background-color: var(--primary);
  color: white;
}


.custom-link {
  color: #129693;
  text-decoration: none;
}

.custom-link:hover {
  color: #0e7a75;
  text-decoration: underline;
}


.custom-paragraph a {
  color: #129693 !important;
  text-decoration: none !important;
}

.custom-paragraph a:hover {
  color: #0e7a74 !important;
  text-decoration: underline !important;
}

a span {
  color: #004558 !important;
}

a:hover span {
  color: #0e7a74 !important;
  text-decoration: underline !important;
}

.container-stretch {
  width: 90% !important;
  max-width: 1200px !important;
  margin: 0 auto !important;

}