@font-face {
  font-family: "Kanit-bold";
  src: url("../src/assets/fonts/Kanit/Kanit-Black.ttf");
}


:root {
  --primary: #129693;
  --background-color: #004558;
  --toolbar-primary: #667085;
  --footer: #98A2B3;
  --normal-text: #323433;
  --white-normal: #ffffff;
}

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";