@font-face {
  font-family: "Kanit-bold";
  src: url("../src/assets/fonts/Kanit/Kanit-Black.ttf");
}

@font-face {
  font-family: "EKanit";
  src: url("../src/assets/fonts/Kanit/Kanit-ExtraLight.ttf");
}

@font-face {
  font-family: "LKanit";
  src: url("../src/assets/fonts/Kanit/Kanit-Light.ttf");
}
@font-face {
  font-family: "semikanit";
  src: url("../src/assets/fonts/Kanit/Kanit-SemiBold.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../src/assets/fonts/Kanit/Kanit-Regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../src/assets/fonts/Kanit/Kanit-Bold.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../src/assets/fonts/Kanit/Kanit-Medium.ttf");
}

:root {
  --primary: #129693;
  --background-color: #004558;
  --toolbar-primary: #667085;
  --footer: #98A2B3;
  --normal-text: #323433;
  --white-normal: #ffffff;
  --toolbar-bg:#FAFDF9;
}

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f9f9f9;
}