<app-policy-dev-init-card
  [guidance]="guidance.policyinit"
></app-policy-dev-init-card>
<app-privacy-greencard [guidance]="guidance.greencard"> </app-privacy-greencard>
<app-image-with-grid [data]="guidance.thirdCard"> </app-image-with-grid>
<app-privacy-fourth-panel
  [data]="guidance.fourthpanel"
></app-privacy-fourth-panel>

<app-dynamic-para-with-image
  [dataProperty]="guidance.dynamiccontent"
></app-dynamic-para-with-image>

<app-horizontal-card [dataProperty]="guidance.horizontalcard">
</app-horizontal-card>

<app-freequently-asked [dataProperty]="guidance.freequentlyasked">
</app-freequently-asked>

<app-horizontal-card [dataProperty]="guidance.horizontalcard1">
</app-horizontal-card>

<div class="py-[4%]"></div>
