<!-- child.component.html -->
<ng-container *ngIf="dataProperty">
    <div class="card-container">
        <div class="card">
            <div class="left-side">
                <div class="content">
                    <h2>{{ dataProperty.cardContainer.card.leftSide.content.h2 }}</h2>
                    <p>{{ dataProperty.cardContainer.card.leftSide.content.p }}</p>
                </div>
            </div>

            <div class="right-side">
                <div class="text-white">
                    <p>{{ dataProperty.cardContainer.card.rightSide.textWhite.p[0] }}</p>
                    <p>{{ dataProperty.cardContainer.card.rightSide.textWhite.p[1] }}</p>
                    <button>{{ dataProperty.cardContainer.card.rightSide.textWhite.button }}</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>