section {
    margin: 3rem auto;

    .bg-image {
        background-image: url('https://s3-alpha-sig.figma.com/img/c860/5f00/a6fd2c8437e6320dce4ea7bcb14ead18?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=jZyHQ8K9xmgUTew9oSS08ao70av7YDhFXwKnTONWUS7ZvvU0T2vmcPK8CTPhU1OiLAVkRR4ApDsHe8uBX-QLYxcCSgOXwzx6lzLa-ld16uOHdFndshsTT59a7KWRQmxA53c-UQ-ux1ObLRvXL1tg-4NJOsh5WS3pHooyqIkuPaf6lfw07z9Dxs4NsPCNviEEhLPxFoRprhdgnYDbK7ZIlh5hgT6gPWpClDDa2VzGsiZH4MO0fPQH-G1hKsbFvN37WHFBelIgJ-k42vw3QteXIRrAN3GDqgIKzI18eusKnwefsomhhItfwFdhnVAJVOgaTf6yos~iBBy4ETwnN29PTQ__');
        height: 450px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        position: relative;




        .inner-content-text {
            color: white;
            position: absolute;
            top: 40%;

            h2 {
                font-family: medium;
                font-size: 48px;
                line-height: 71.76px;
                letter-spacing: -0.41px;
                text-align: center;
            }

            p {
                font-family: regular;
                width: 60%;
                margin: auto;
                text-align: center;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(to top, #174e50, rgba(0, 0, 0, 0));
            border-radius: 0 0 0.3rem 0.3rem;
            z-index: 1;
        }
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .custom-card {
        width: 30%;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        transition: transform 0.3s ease;
        padding: 15px;
        margin-bottom: 1rem;

    }

    .custom-card:hover {
        transform: translateY(-5px);
        background-color: #f5fbfa;
        // cursor: pointer;
    }

    .custom-card-img-wrapper {
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        height: 180px;

        img {
            border-radius: 12px;
            width: 100%;
            height: 100%;
        }
    }


    .custom-card-content {
        padding: 15px;
        text-align: left;

        h3 {
            font-family: medium;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.41px;
        }

        p {
            color: #667085;
            padding: .3rem 0;
            margin: 10px 0;
            font-size: 1.05rem;
            line-height: 1.6;
            font-family: regular;
        }
    }




}


@media (max-width: 1024px) {
    section {
        margin: 3rem auto;
    }

    main {
        .custom-card {
            flex-basis: 45%;
        }
    }
}



@media (max-width: 768px) {
    section .bg-image .inner-content-text {
        top: 30%;

        h2 {
            font-size: 25px;
            line-height: 30px;
        }

        p {
            width: 90%;
            margin-top: 10px;
        }
    }

    main {
        .custom-card {
            flex-basis: 98%;
        }
    }
}